/* Slider styles */
#home-slider {
  background-color: rgb(55,55,55);
}

.item img {
  display: block;
  margin: 0 auto;
}

/* Grid styles */
#grid-container {
  background-color: rgb(90, 90, 90);
  padding-top: 7px;
  padding-bottom: 15px;
}

.grid-col {
  padding: 0px 3px;
  margin-bottom: 7px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  min-height: 195px;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  background-clip: content-box;  
}

.grid-col:hover {
  background-color: white;  
}

.grid-col span {
  padding: 10px;
}

.feature-title {
  color: black;
  margin: 5px;
  font-size: 25px;
  font-weight: 600;
}

.feature-description {
  color: black;
  margin: 5px;
  font-size: 15px;
  font-weight: 400;
}